

#projects-container{
  /*padding-top:2em;*/
  text-align: center;
  background-color:#2f3438;
}

.portfolio-title{
  width: 80%;
  margin: auto;
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  padding-bottom:.3em;
  border-bottom: .5px white solid;
}

.project-container{
  background-color: black;
}


//general properties

#project-title{
  margin-bottom: .3em;
  background-color: #2f3438;
  opacity: .7;
  padding: 1em;
}


.project-description{
  text-align: left;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: .7em;
  padding: 5%;
  background-color: #2f3438;
  opacity:.7;
  margin-bottom: 16px;
}

.project-container {
  max-width: 45%;
  width:350px;
  display: inline-block;
  padding: .7em;
  margin: 1%;
  vertical-align: top;
}

.skill{
  font-size: 10px;
  color: white;
  display: inline;
  background-color: #2f3438;
  font-family: 'Raleway', sans-serif;
  padding: 6px;
  opacity: .9;
  border:.5px white solid;
}

@media only screen and (min-width: 1px) {
  .portfolio-title{
    font-size: 2em
  }

  #project-title{
    font-size: 1.4em;
  }

  .project-description{
    display:none;
  }

  .project-skills-container{
    display:none;
  }
}


@media only screen and (min-width: 415px) {

  #project-title{
    font-size: 1.4em;
  }
  .portfolio-title{
    font-size: 2em;
  }

  .project-description{
    font-size: 1em;
    display:none;
  }

  .project-skills-container{
    display:none;
  }
}
@media only screen and (min-width: 700px) {

  .portfolio-title{
    font-size: 4em
  }

  .project-description{
    font-size: 1em;
    height: 140px;
    display:block;
  }
}
