.standard-text {
  font-family: 'Raleway', sans-serif;
  color: white;
  text-align: center;
}

.section-title{
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 5.5em;
  padding-bottom:.3em;
}

.section-container{
  margin: 0;
  padding: 6.5% 5%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  background-color: #2f3438;
  position: relative;
}

.project-container{
  background-position:center;
  background-repeat: no-repeat;
  background-size:100%;
}


@media only screen and (min-width: 1px){
  .information-container{
    padding: 0 5%;
  }

  .standard-text {
    font-size: 1em;
  }

  .bold-text{
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    font-size: 2em;
  }
}

@media only screen and (min-width: 700px) {
  .section-container{
    margin: 0;
    padding: 6.5% 5%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: #2f3438;
    position: relative;
  }

  .section-title{
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 5.5em;
    padding-bottom:.3em;
  }

  .standard-text {
    font-size: 1.3em;
  }


}
