$color-primary: #2f3438;


$color-secondary: #000;
$color-error: #ff777a;
$color-success: #77ff7a;
$color-white: #fff;
$color-black: #000;
$color-lightgrey: #B5BAC3;
$color-grey: #7A7D84;
$color-darkgrey: #6E7177;

$pad: 0.5em;

$font-sansserif: sans-serif;
$font-monospace: monospace;
