@media only screen and (min-width: 1px) {

#modal{
  // animation: modalappear ease 1s 1;
  background-color: #2f3438;

  display:inline-block;
  width:1000%;
  height:10000%;
}
#modal-categories {
  margin: 40px 4%;
  display: inline-block;
  width: 100px;
}

#modal-categories a {
  display:inline-block;
  margin-top:10px;
}

#modal-categories a:hover{

  p {
    display:inline;
    // animation: modalname .3s 1 ease-in;
    border-radius:5%;
    background-color:grey;
  }
}

.modal-name{
  font-family: 'Raleway', sans-serif;
  float: left;
  font-size: 25px;
  display:inline;
  width:100%;
  color:white;
}
}

@keyframes modalappear {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


@keyframes modalname {
  0%{

    opacity:0;
  }
  100%{
    opacity:1;
  }
}
