.nav-bar {
  display: fixed;
  z-index: 100;
  height:38px;
  position:fixed;
}

#name {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  float:right;
  width:40%;
  text-align: right;
  display:inline;
}


#nav-bar-categories {
  display: inline;
  width: 100px;
}

#nav-bar-categories a {
  display:inline-block;
  margin-top:10px;
}

#nav-bar-categories a:hover{

  p {
    display:inline;
    // animation: categoryname .3s 1 ease-in;
    border-radius:5%;
    background-color:grey;
    opacity:.7;
    padding: 0 2px;
    margin: 0 auto;
    text-align: left;
  }
}

.category-name {
  font-family: 'Raleway', sans-serif;
  float: left;
  font-size: 18px;
  display:inline;
  width:65%;
  display:none;
  color:white;
}

.category-button {
  float:right;
  height:20px;
  width:20px;
  border-radius: 2%;
  background-color: grey;
  display:inline-block;
  margin-bottom: 1px;
}

#drop-down-closed-icon {
  width:30px;
  height: 30px;
  color:white;
}

#drop-down-open-icon {
  width:30px;
  height: 30px;
  color:white;
}

.active {
  div{
    background-color: white;
  }
}

#drop-down-closed, #drop-down-open {
  display: inline-block;
  width: 100px;
  margin: 8px 4%;
}

#nav-bar-dropdown{
  left:40px;
  display:inline;
  margin: 10px 20% 0 0;
  display: inline;
  float:left;
  border: dashed 1px red;
  width:20%;
}

.nav-bar {
  right: 20px;
  top: 225px;
  vertical-align: right;
  background-color: transparent;
  width: 110px;
  float: right;
  height: 200px;
  display: inline;
  text-align: right;
}


// @media only screen and (min-width: 1px) {
//   .nav-bar {
//     z-index: 100;
//     height: 50px;
//     position: fixed;
//     background-color: black;
//     opacity: .7;
//   }
//   #nav-bar-categories{
//     display:none;
//   }
//   #name {
//     font-size: 20px;
//     margin: 11px 15px 00;
//     color:white;
//   }

//   #nav-bar-dropdown{
//     margin: 1px 20% 0px 7px;
//   }
//   #unsplash-location-text {
//     font-size: 1em;
//   }

//   #unsplash-credit-text{
//     font-size: 1em;
//   }

//   #intro-text {
//     font-size: 3em;
//   }
// }


@media only screen and (min-width: 1px) {
  .nav-bar {
    right: 20px;
    top: 225px;
    vertical-align: right;
    background-color: transparent;
    width: 110px;
    float: right;
    height: 200px;
    display: inline;
    text-align: right;
  }

  #nav-bar-categories{
    width:100%;
    display:inline-block;
    background-color: none;
  }
  #nav-bar-dropdown{
    display:none;
  }

  #drop-down-open{
    display:none;
  }
  #drop-down-closed{
    display:none;
  }
  #name {
    display:none;
  }
}
