@media only screen and (min-width: 600px){
}

#fullstack-section {
  margin-top:1em;
}

.project-title {
  display:inline-block;
}

.title-section {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  color: white;
  text-align: center;
  margin: .5em 0em;
  padding: .5em 0em;
}

.skills-list{
  display:inline-block;
  width: 30%;
  margin: auto 5%;
  padding: 0 5%;
  margin-left: 12%;
  font-family: 'Raleway', sans-serif;
  font-size:.5em;
  color: white;
  text-align: center;
  margin: .5em 0em;
  padding: .5em 0em;
  overflow: hidden;
  flex:auto;
}
.skills-title-icon{
  display: inline;
  margin-right: 8px;
  color: white;
}

.list-skill {
  min-width:370px;
  width: 65%;
  margin-left: 35%;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  display:list-item;
  padding: 4px 0 0 0px;
  color:white;
  font-size: 1.2em;
  list-style-type: square;
}

#front-end-list, #back-end-list, #full-stack-list, #dev-ops-list {
  p {
    text-align: center;
  }
margin: .5em 0em;
padding: .5em 0em;
width:100%;
float:left;

}

#dev-ops-section, #fullstack-section, #back-end-section, #front-end-section{
  text-align: center;
}

#dev-ops-list, #full-stack-list {
  p{
    text-align: center;
  }
}

#skills-list-title{
  text-align: center;
  display:inline-block;
  font-size: 4em;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  margin-bottom: .5em;
  width:100%;
  text-align: left;
  color:white;
  margin-bottom: .5em;
}

.tools-container{
  margin-top: 2em;
  display:inline-block;
  text-align: center;
}

.skills-icons{
  font-size: 1.5em;
  display: inline;
  max-width: 2em;
  fill: white;
  color: white;
  padding: 0 2px;
}

@media only screen and (min-width:1px){

  #skills-title-text{
    margin-bottom: .3em;
  }

  #full-stack-list, dev-ops-list{
    width: 100%;
  }
  #front-end-list, #back-end-list {
    p {
      text-align: center;
    }
  margin: 0em 0em;
  padding: 3em 0em;
  width:100%;
  border-bottom: .5px solid white;
  }

  #fullstack-section, #dev-ops-section {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    display: inline-block;
    color: white;
    text-align: center;
    width: 100%;
    border-bottom: .5px solid white;
}

#front-end-section, #back-end-section {
    padding: 0 6px;
    // margin: auto .5%;
    // height: 300px;
    // display: inline-block;
    // width: 49%;
    max-width: 1000px;
    padding-bottom: 1em;
    border-bottom: none;
  }

#skills-list-title{
  font-size: 3em;
}

.skills-list{
  margin: 0em 0em;
  padding: 3em 0em;
}

.list-skill {
  width:72%;
  font-size: 1.8em;
  // margin-left: 28%;
}


}

@media only screen and (min-width: 700px) {
#skill-page{
  padding: 6.5% 5%;
}
  #skills-title-text{
    font-size:5.5em;
  }

  .skills-title-icon{
    display: inline;
    margin-right: 8px;
    color: white;
  }

#skills-container{
  display: inline-block;
  margin: 0 auto;
  padding: 0 5%;
}
#fullstack-section, #dev-ops-section {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    display: inline-block;
    color: white;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 10%;
    border-bottom: .5px solid white;
  }

#front-end-section, #back-end-section {
    padding: 0 6px;
    margin: auto .5%;
    height: 300px;
    display: inline-block;
    width: 49%;
    max-width: 1000px;
    padding-bottom: 1em;
    border-bottom: none;
  }

#back-end-section {
  border-left: .5px solid white;
}
#dev-ops-section{
  border-top: .5px solid white;
}


#skills-main-title{
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;

}

#front-end-list, #back-end-list{
  border-bottom: none;
}

.skills-title {
  font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: white;
  text-align: center;
margin: .5em 0em;
padding: .5em 0em;

// border-bottom: .5px solid white;
}

.skills-title-icon{
  display: inline;
  margin-right: 8px;
  color: white;
}
#skills-list-container {
  display:table;
  color:white;
}

li {
  display:list-item;
  margin: 4px auto;
}

.skills-list {
  overflow: hidden;
  flex:auto;
}

.list-skill {
  color:white;
  font-size: 2em;
}

}
