  
  #photo-container{
    height: 100%;
    position:relative;
  }

  #portfolio-container{
    width: 100%;
    height: 100%;
    position: relative;
  }


  #intro-text {
    z-index: 90;
    position: absolute;
    text-align: center;
    color: white;

    padding:0;
    font-family: 'Raleway', sans-serif;
    background-color: #2f3438;
    opacity: .7;
    // animation: pageload 4s 1 ease;
    // margin-top: 100px;
  }
  #waiting-container {
    display: inline-block;
    width:100%;
    height: 1000px;
    background-color: #2f3438;
    opacity: .7;

  }


  #waiting-text {
    z-index: 10;
    position: absolute;
    text-align: center;
    color: white;
    margin-top:100px;
    padding:0;
    font-size:100px;
    font-family: 'Raleway', sans-serif;
    opacity: .7;
  }

  #unsplash-credit-container {
    // margin-top:37px;
    // z-index: 10;
    display: block;
    position: absolute;
    width:100%;
  }

  #unsplash-credit-text {
    // background-color: #2f3438;
    // opacity:.7;
    float: left;
    text-align:right;
    a {
      color:white;
      font-family: 'Raleway', sans-serif;
      display:inline-block;
    }
  }
  #unsplash-location-text {
    float:left;
    color:white;
    font-family: 'Raleway', sans-serif;
    width:10%;
    text-align:left;
    background-color: #2f3438;
    opacity: .7;
  }

#learn-more-icon {
  position:absolute;
  text-align: center;
  margin-top:400px;
  z-index:20;
  color:white;
  font-family: 'Raleway', sans-serif;
  p, {
    display:inline;
  }
  p, span {
    color:white;
  }
}


  #down-button {
    fill:white;
    color:white;
    // animation: bounce 4s infinite ease;
    width: 75px;
    height:75px;
    position:absolute;
    text-align: center;
    bottom: 7%;
    left: 50%;
  }

  .pictureToFadeInAndOut {
    font-size: 10em;
    text-align: center;
    // margin-top: 3em;
    font-family: 'Raleway', sans-serif;

  }


@media only screen and (min-width: 1px) {
  #intro-text{
    font-size: 3em;
    // top:30px;
  }
  #down-button{
    left:42%;
    width:20px;
    height:20px;
  }

  #unsplash-credit-container{
    margin-top: 1em;
  }

  #unsplash-credit-text{
    width:50%;
    max-width:150px;
    font-size: .5em;
  }
  #unsplash-credit-text a {
    // font-size:.6em;
  }

  #unsplash-location-text {
    width:30%;
    max-width: 120px;
  }

  #waiting-text{
    font-size: 2em;
  }

#learn-more-icon{
  display:none;
}
}

@media only screen and (min-width: 450px) {
  #intro-text{
    font-size: 2em;
  }

  #unsplash-credit-text {
    width:30%;
  }

  #waiting-text{
    font-size: 5em;
  }

  #learn-more-icon{
    display:block;
    margin-top:225px;
  }
}

@media only screen and (min-width: 700px) {
  #intro-text, {
    font-size: 4em;
  }
  #waiting-text{
    font-size: 15em;
  }

  #unsplash-credit-container{
    margin-top: 2em;
  }
  #unsplash-credit-text {
    // font-size: 1em;
    max-width: 150px;
  }

  // #unsplash-location-text {
  //   font-size:.8em;
  // }


  #learn-more-icon{
    margin-top:600px;
  }
}
