@media only screen and (min-width: 1px) {
  .image {
  max-height:200px;
  min-height:200px;
  }
}
@media only screen and (min-width: 350px) {
  .image{
    max-height:350px;
    min-height:350px;
  }
}

@media only screen and (min-width: 700px) {
  .image {
  max-height:700px;
  min-height:700px;
  }
}


// @keyframes pageload {
//   0%{
//     background-color:white;
//     opacity: 0;
//   }
//
//   100%{
//     background-color:none;
//     opacity: 1;
//   }
// }
