#contact-container{
  border-bottom: .5px white solid;
}



#contact-information{
  p {
    padding: 0.5em;
  }
  padding-bottom: 1em;
}

#intro-photo{
  width: 100px;
  border-radius: 60%;
  border: grey 2px solid;
  margin: auto;
}


#contact-buttons {
    text-align: center;
    height: 50px;

    a {
      margin:20px 10px;
      display:inline;
      span{
        display:inline;
        color:white;
      }
    }
}
.contact-button {
  margin: .75em auto;
  width: 185px;
  border: 1px white solid;
  border-radius: 2%;
  :hover{
    background-color: grey;

  }
}

#contact-buttons a span:hover{
  color:grey;
}

#source-code-link{
  color: purple;
}

// @keyframes contactbutton {
//   0% {
//     background-color: #2f3438;
//
//   }
//   100%{
//     background-color: grey;
//   }
// }

// @keyframes iconbutton {
//   0% {
//     color: white;
//
//   }
//   100%{
//     color: grey;
//   }
// }

// :global {
//     .test {
//         :local {
//             animation: iconbutton 3s ease;
//             animation: contactbutton 3s ease;
//         }
//     }
// }
