
NavBar {
  position: fixed;
  z-index: 100;
}

#title-name{
  // animation: modalappear ease 1s 1;
  padding-right:.5em;
  opacity:.7;
  background-color: #2f3438;
  font-family: 'Raleway', sans-serif;
  float: right;
  font-size: 25px;
  // display:inline;
  position:fixed;
  width:100%;
  color:white;
  // display:inline-block;
  text-align: right;
  width:100%;
  z-index: 1;
}
